numpy==1.13.3+mkl ==>  Face Gender Estimation
Keras==2.0.8	  ==> Matrix Calculation
opencv==1.0.1	  ==> Face Detection using Haar Cascades
opencv-python==3.3.0+contrib ==> Face Detection 
Tensorflow  	  ==> Age Gender Estimation